<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要等于接口的全类名-->
<mapper namespace="com.j4h.mall.mapper.goods.GoodsMapper">

    <sql id="goods">
        id,
        goods_sn as goodsSn,
        name,
        category_id as categoryId,
        brand_id as brandId,
        gallery,
        keywords,
        brief,
        is_on_sale as isOnSale,
        sort_order as sortOrder,
        pic_url as picUrl,
        is_new as isNew,
        is_hot as isHot,
        unit,
        counter_price as counterPrice,
        retail_price as retailPrice,
        add_time as addTime,
        update_time as updateTime,
        deleted
    </sql>
    <select id="getGoodsInfo" resultType="com.j4h.mall.model.goods.GoodItem">
        select <include refid="goods" /> from cskaoyan_mall_goods
        <where>
            deleted = 0
            <if test="goodsSn != null">
                and goods_sn = #{goodsSn}
            </if>
            <if test="name != null">
                and name like #{name}
            </if>
        </where>
    </select>

    <insert id="insertGoods">
        <selectKey resultType="int" keyColumn="idz" keyProperty="goods.id" order="AFTER">
            select last_insert_id() as idz
        </selectKey>
        insert into cskaoyan_mall_goods (id, goods_sn, name, category_id, brand_id, gallery, keywords, brief, is_on_sale, sort_order, pic_url, share_url, is_new, is_hot, unit, counter_price, retail_price, detail, add_time, update_time, deleted)
        values (null, #{goods.goodsSn}, #{goods.name}, #{goods.categoryId}, #{goods.brandId}, #{goods.gallery}, #{goods.keywords}, #{goods.brief}, #{goods.isOnSale}, 100, #{goods.picUrl}, null, #{goods.isNew}, #{goods.isHot}, #{goods.unit},#{goods.counterPrice},#{goods.retailPrice},#{goods.detail}, now(), now(), 0)
    </insert>

    <insert id="insertGoodsSpecifications">
        insert into cskaoyan_mall_goods_specification (id, goods_id, specification, value, pic_url, add_time, update_time, deleted)
        VALUES
        <foreach collection="specifications" item="spec">
               (null, #{goodId}, #{spec.specification}, #{spec.value}, #{spec.picUrl}, now(), now(), 0)
        </foreach>
    </insert>

    <insert id="insertGoodsProducts">
        insert into cskaoyan_mall_goods_product (id, goods_id, specifications, price, number, url, add_time, update_time, deleted)
        values
        <foreach collection="products" item="product">
               (null, #{goodsId}, #{product.specifications}, #{product.price}, #{product.number}, #{product.url}, now(), now(), 0)
        </foreach>
    </insert>

    <insert id="insertGoodsAttributes">
        insert into cskaoyan_mall_goods_attribute (id, goods_id, attribute, value, add_time, update_time, deleted)
        values
        <foreach collection="attributes" item="attr">
            (null, #{goodsId}, #{attr.attribute}, #{attr.value}, now(), now(), 0)
        </foreach>
    </insert>
    
    <resultMap id="categoryMap" type="com.j4h.mall.model.goods.Category">
        <result column="id" property="value" />
        <result column="name" property="label" />
        <collection property="childCategoryList" ofType="com.j4h.mall.model.goods.ChildCategory">
            <result column="id" property="value" />
            <result column="name" property="label" />
        </collection>
    </resultMap>

    <select id="getAllCategory" resultMap="categoryMap">

    </select>
</mapper>