<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4h.mall.mapper.mall.OrderMapper">
  <select id="queryOrderList" resultType="com.j4h.mall.model.mall.order.Order">
    select actual_price as actualPrice,add_time as addTime,address,comments,consignee,coupon_price as couponPrice,
           deleted,end_time as endTime,freight_price as freightPrice,goods_price as goodsPrice,groupon_price as grouponPrice,
           id,integral_price as integralPrice,message,mobile,order_price as orderPrice,order_sn as orderSn,order_status as orderStatus,
           update_time as updateTime,user_id as userId from cskaoyan_mall_order
    <where>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="orderSn != null">
        and order_sn = #{orderSn}
      </if>
      <if test="orderStatusArray != null">
        and order_status in
        <foreach collection="orderStatusArray" item="orderStatus" separator="," open="(" close=")">
          #{orderStatus}
        </foreach>
      </if>
    </where>
  </select>
  <select id="queryOrderById" resultType="com.j4h.mall.model.mall.order.Order">
    select actual_price as actualPrice,add_time as addTime,address,comments,consignee,coupon_price as couponPrice,
           deleted,end_time as endTime,freight_price as freightPrice,goods_price as goodsPrice,groupon_price as grouponPrice,
           id,integral_price as integralPrice,message,mobile,order_price as orderPrice,order_sn as orderSn,order_status as orderStatus,
           update_time as updateTime,user_id as userId from cskaoyan_mall_order where id = #{id}
  </select>

  <select id="queryOrderGoodsByOid" resultType="com.j4h.mall.model.mall.order.OrderGoods">
    select id,order_id as orderId,goods_id as goodsId,goods_name as goodsName,goods_sn as goodsSn,product_id as productId,
           number,price,specifications,pic_url as picUrl,comment,add_time as addTime,update_time as updateTime,deleted
    from cskaoyan_mall_order_goods where order_id = #{oid}
  </select>

   <!-- 微信端-->
    <!--根据userId和status查询用户对应的订单的数量-->
    <select id="queryDetailOrderNumByUserId" resultType="int">
        select count(id) from cskaoyan_mall_order where  deleted=0 and  user_id = #{id}  and order_status in
        <foreach collection="status" item="statu" separator="," open="(" close=")">
            #{statu}
        </foreach>
    </select>

    <select id="queryGoodsListByUserIdAndStatus" resultMap="queryGoodsListByUserIdAndStatusMapper">
      select order_status as orderStatusText,order_sn as orderSn,actual_price as actualPrice,id,order_status as statu
      from cskaoyan_mall_order
      where  deleted=0 and  user_id = #{id}  and order_status in
        <foreach collection="status" item="statu" separator="," open="(" close=")">
            #{statu}
        </foreach>
    </select>
    <resultMap id="queryGoodsListByUserIdAndStatusMapper" type="com.j4h.mall.model.wx.user.UserOrderDetailsList">
        <result column="orderStatusText" property="orderStatusText"/>
        <result column="orderSn" property="orderSn"/>
        <result column="actualPrice" property="actualPrice"/>
        <result column="statu" property="statu"/>
    </resultMap>

    <select id="queryGoodsByOrderId" resultMap="queryGoodsByOidMapper">
        select `number`,goods_id as id ,goods_name as goodsName
        from cskaoyan_mall_order_goods
        where  order_id = #{id} and deleted = 0
    </select>
    <resultMap id="queryGoodsByOidMapper" type="com.j4h.mall.model.wx.user.GoodsList">
        <result column="id" property="id"/>
        <result column="goodsName" property="goodsName"/>
    </resultMap>

    <select id="queryPicUrlById" resultType="string">
        select pic_url from cskaoyan_mall_goods where id = #{id} and deleted = 0
    </select>

  <update id="refundOrderMoney">
    update cskaoyan_mall_order set order_status = 203 where id = #{id} and order_status = 202 and deleted = 0
  </update>

  <update id="shipOrderById">
    update cskaoyan_mall_order set order_status = 301,ship_channel = #{ship.shipChannel},ship_sn = #{ship.shipSn},ship_time = now() where id = #{ship.orderId}
  </update>
</mapper>
