<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4h.mall.mapper.footprint.FootprintMapper">
  <insert id="insertFootprint">
    insert into cskaoyan_mall_footprint (id, user_id, goods_id, add_time, update_time, deleted) VALUES
    (id, #{uid}, #{gid}, now(), now(), 0)
  </insert>
</mapper>
