<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4h.mall.mapper.extension.CouUserMapper">
    <sql id="queryItems">
        id,user_id as userId,coupon_id as couponId,status,used_time as usedTime,start_time as startTime,end_time as endTime,order_id as orderId,add_time as addTime,update_time as updateTime,deleted
    </sql>
    <select id="queryCouUserByCondition" resultType="com.j4h.mall.model.extension.coupon.BeanForDatabase.CouponUser">
        select <include refid="queryItems"/> from cskaoyan_mall_coupon_user
        <where>
            deleted = 0
            <if test="couponId != null">
                and coupon_id = #{couponId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>
    <select id="queryCouUserByUserIdAndStatus" resultMap="couUserMap">
        select id,coupon_id,start_time,end_time from cskaoyan_mall_coupon_user where user_id = #{userId} and status = #{status} and deleted = 0
    </select>
    <resultMap id="couUserMap" type="com.j4h.mall.model.wx.coupon.WxMyCoupon">
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="coupon_id" property="couponId"/>
    </resultMap>
</mapper>
