<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4h.mall.mapper.system.AdminMapper">
    <insert id="insertAdmin">
        insert into cskaoyan_mall_admin (username,`password`,avatar,add_time,update_time,role_ids) value (#{admin.username},#{admin.password},#{admin.avatar},#{admin.addTime},now(),#{admin.roleIds,typeHandler=com.j4h.mall.util.TransferIntegerArrayHandler})
    </insert>

    <resultMap id="adminMap" type="com.j4h.mall.model.system.Admin">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="role_ids" property="roleIds" typeHandler="com.j4h.mall.util.TransferIntegerArrayHandler"/>
    </resultMap>
    <select id="queryAdminByNameAndPassword" resultMap="adminMap">
        select `id`,username,`password`,avatar,add_time,update_time,role_ids from cskaoyan_mall_admin where username = #{name} and `password` = #{password} and deleted = false
    </select>

    <select id="queryAdmin" resultMap="adminMap">
        select `id`,username,`password`,avatar,add_time,update_time,role_ids from cskaoyan_mall_admin where username like #{username} and deleted = false
    </select>

    <update id="updateAdmin">
        update cskaoyan_mall_admin set username = #{username}, password = #{password},avatar = #{avatar}, role_ids = #{roleIds,typeHandler=com.j4h.mall.util.TransferIntegerArrayHandler} where id = #{id} and deleted = false
    </update>

    <update id="deleteAdminById">
        update cskaoyan_mall_admin set deleted = true where `id` = #{id}
    </update>

    <select id="queryAdminByUsername" resultMap="adminMap">
        select `id`,username,`password`,avatar,add_time,update_time,role_ids from cskaoyan_mall_admin where username = #{username} and deleted = false
    </select>

    <select id="queryAdminById" resultMap="adminMap">
        select `id`,username,`password`,avatar,add_time,update_time,role_ids from cskaoyan_mall_admin where `id` = #{id} and deleted = false
    </select>
</mapper>
