<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4h.mall.mapper.system.StorageMapper">
    <insert id="addPicture">
        insert into cskaoyan_mall_storage (`key`,`name`,type,size,url,add_time,update_time) value (#{key},#{name},#{type},#{size},#{url},#{addTime},#{updateTime})
    </insert>

    <select id="queryStorages" resultType="com.j4h.mall.model.system.Storage">
        select `id`,`key`,`name`,type,size,url,add_time as addTime,update_time as updateTime,deleted from cskaoyan_mall_storage where `key` like #{key} and `name` like #{name} and deleted = false
    </select>

    <update id="updateStorage">
        update cskaoyan_mall_storage set `name` = #{name},update_time = #{updateTime} where `key` = #{key}
    </update>

    <update id="deleteStorage">
        update cskaoyan_mall_storage set deleted = true where `key` = #{key}
    </update>
    <insert id="addImg">
        <selectKey resultType="int" keyColumn="ids" keyProperty="storage.id" order="AFTER">
            select last_insert_id() as ids
        </selectKey>
        insert into cskaoyan_mall_storage (`key`,`name`,type,size,url,add_time,update_time,deleted) value (#{storage.key},#{storage.name},#{storage.type},#{storage.size},#{storage.url},now(),now(),0)
    </insert>
    <select id="queryStorageById" resultType="com.j4h.mall.model.system.Storage">
        select id,`key`,`name`,`type`,`size`,url,add_time as addTime,update_time as updateTime,deleted from cskaoyan_mall_storage where id = #{pId}
    </select>
</mapper>
