<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要等于接口的全类名-->
<mapper namespace="com.j4h.mall.mapper.user.UserMapper">
    <resultMap id="userMap" type="com.j4h.mall.model.user.User">
        <result column="lastLoginIp" property="lastLoginIp"/>
        <result column="lastLoginTime" property="lastLoginTime"/>
        <result column="userLevel" property="userLevel"/>
        <result column="weixinOpenid" property="weixinOpenid"/>
        <result column="addTime" property="addTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <select id="queryUsers" resultMap="userMap">
        select id,username,password,gender,birthday,last_login_Ip as lastLoginIp,
        last_login_time as lastLoginTime,user_level as userLevel,nickname as userLevel,mobile,avatar,
        weixin_openid as weixinOpenid,status,add_time,update_time AS updateTime,deleted
        from cskaoyan_mall_user
        <where>
            deleted = 0
            <trim prefixOverrides="and">
                <if test="myPageHelper.username!=null and myPageHelper.username!=''">
                    and username like #{myPageHelper.username}
                </if>
                <if test="myPageHelper.mobile!=null and myPageHelper.mobile!=''">
                    and mobile like #{myPageHelper.mobile}
                </if>
            </trim>
        </where>
    </select>


    <resultMap id="addressMapper" type="com.j4h.mall.model.user.Address">
        <result column="proviceId" property="proviceId"/>
        <result column="cityId" property="cityId"/>
        <result column="isDefault" property="isDefault"/>
        <result column="userId" property="userId"/>
        <result column="areaId" property="areaId"/>
        <association property="area" column="areaId" select="com.j4h.mall.mapper.user.UserMapper.queryArea"/>
        <association property="province" column="provinceId" select="com.j4h.mall.mapper.user.UserMapper.queryArea"/>
        <association property="city" column="cityId" select="com.j4h.mall.mapper.user.UserMapper.queryArea"/>
    </resultMap>
    <select id="queryAddressList" resultMap="addressMapper">
        select `name`,id,province_id as provinceId,city_id as cityId,area_id as areaId,
        address,mobile,`is_default` as `isDefault`,user_id as userId
        from cskaoyan_mall_address
        <where>
            deleted = 0
            <trim prefixOverrides="and">
                <if test="myPageHelper.name!=null and myPageHelper.name!='' ">
                    and `name` like #{myPageHelper.name}
                </if>
                <if test="myPageHelper.userId!=0 and myPageHelper.userId !=null and myPageHelper.userId!=''">
                    and user_id = #{myPageHelper.userId}
                </if>
            </trim>
        </where>
    </select>
    <select id="queryArea" resultType="string">
      select `name` from cskaoyan_mall_region where id = #{id}
    </select>



    <resultMap id="colletMap" type="com.j4h.mall.model.user.Collect">
        <result column="userId" property="userId"/>
        <result column="valueId" property="valueId"/>
        <result column="addTime" property="addTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <select id="queryCollectList" resultMap="colletMap">
        select id,user_id as userId,value_id as valueId,type,add_time as addTime,update_time as updateTime,deleted
        from cskaoyan_mall_collect
        <where>
            deleted = 0
            <trim prefixOverrides="and">
                <if test="myPageHelper.valueId!=0 and myPageHelper.valueId !=null and myPageHelper.valueId!=''">
                    and value_id = #{myPageHelper.valueId}
                </if>
                <if test="myPageHelper.userId!=0 and myPageHelper.userId !=null and myPageHelper.userId!=''">
                    and user_id = #{myPageHelper.userId}
                </if>
            </trim>
        </where>
    </select>


    <resultMap id="footprintMap" type="com.j4h.mall.model.user.Footprint">
        <result column="userId" property="userId"/>
        <result column="goodsId" property="goodsId"/>
        <result column="addTime" property="addTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <select id="queryFootprintList" resultMap="footprintMap">
        select id,user_id as userId,goods_id as goodsId,add_time as addTime,update_time as updateTime,deleted
        from cskaoyan_mall_footprint
        <where>
            deleted = 0
            <trim prefixOverrides="and">

                <if test="myPageHelper.userId!=0 and myPageHelper.userId !=null and myPageHelper.userId!=''">
                    and user_id = #{myPageHelper.userId}
                </if>
                <if test="myPageHelper.goodsId!=0 and myPageHelper.goodsId !=null and myPageHelper.goodsId!=''">
                    and goods_id = #{myPageHelper.goodsId}
                </if>
            </trim>
        </where>
    </select>


    <resultMap id="historyMap" type="com.j4h.mall.model.user.History">
        <result column="userId" property="userId"/>
        <result column="addTime" property="addTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>
    <select id="querySearchHistoryList" resultMap="historyMap">
        select id,user_id as userId,keyword,`from`,add_time as addTime,update_time as updateTime,deleted
        from cskaoyan_mall_search_history
        <where>
            deleted = 0
            <trim prefixOverrides="and">
                <if test="myPageHelper.keyword!=null and myPageHelper.keyword!=''">
                    and keyword like #{myPageHelper.keyword}
                </if>
                <if test="myPageHelper.userId!=0 and myPageHelper.userId !=null and myPageHelper.userId!=''">
                    and user_id = #{myPageHelper.userId}
                </if>
            </trim>
        </where>
    </select>

    <resultMap id="feedbackMap" type="com.j4h.mall.model.user.FeedBack">
        <result column="userId" property="userId"/>
        <result column="feedType" property="feedType"/>
        <result column="hasPicture" property="hasPicture"/>
        <result column="addTime" property="addTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="picUrls" property="picUrls"/>
    </resultMap>
    <select id="queryFeedbackList" resultMap="feedbackMap">
        select id,user_id as userId, username,mobile,feed_type as feedType,content,
        status,has_picture as hasPicture,add_time as addTime,
        update_time as updateTime,deleted,pic_urls as picUrls
        from cskaoyan_mall_feedback
        <where>
            deleted = 0
            <trim prefixOverrides="and">
                <if test="myPageHelper.username!=null and myPageHelper.username!=''">
                    and username like #{myPageHelper.username}
                </if>
                <if test="myPageHelper.id!=0 and myPageHelper.id!=null and myPageHelper.id!=''">
                    and id = #{myPageHelper.id}
                </if>
            </trim>
        </where>
    </select>

    <select id="queryUserById" resultType="com.j4h.mall.model.user.OrderUser">
        select avatar,nickname from cskaoyan_mall_user where id = #{id}
    </select>

    <!--微信端-->

    <select id="queryCountSameUsername" resultType="_int">
        select count(id) from cskaoyan_mall_user where username = #{username} and deleted = 0
    </select>

    <insert id="insertUserForRegister">
        <selectKey resultType="_int" keyColumn="id" keyProperty="new.id" order="AFTER">
            select last_insert_id() as id
        </selectKey>
        insert into cskaoyan_mall_user (username,password,mobile,nickname,add_time,update_time) values (#{new.username},#{new.password},#{new.mobile},#{new.username},now(),now())
    </insert>

    <resultMap id="userInfoMap" type="com.j4h.mall.util.UserInfo">
        <result column="id" property="id"/>
        <result column="nickname" property="nickName"/>
        <result column="avatar" property="avatarUrl"/>
    </resultMap>

    <select id="getUserInfoByUsernameAndPassword" resultMap="userInfoMap">
        select id, nickname, avatar from cskaoyan_mall_user where deleted = 0 and username = #{username} and password = #{password}
    </select>

    <select id="getPasswordByUsername" resultType="string">
        select password from cskaoyan_mall_user where username = #{username} and deleted = 0
    </select>

    <select id="getUsernameById" resultType="string">
        select username from cskaoyan_mall_user where id = #{uid} and deleted = 0
    </select>
</mapper>
