<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要等于接口的全类名-->
<mapper namespace="com.j4h.mall.mapper.report.ReportMapper">
    <sql id="users_day">
        count(username) users,birthday `day`
    </sql>
    <select id="getUserRows" resultType="com.j4h.mall.model.report.ReportUser">
        select <include refid="users_day"/> from cskaoyan_mall_user
    </select>

    <sql id="order_msg">
        count(id) orders,sum(actual_price) amount,
        count(distinct user_id) customers,sum(actual_price)/count(distinct user_id) pcr,
        substring(pay_time,1,11) `day`
    </sql>
    <select id="getOrderRows" resultType="com.j4h.mall.model.report.ReportOrder">
        select <include refid="order_msg"/> from cskaoyan_mall_order where order_status = 201 group by `day`
    </select>

    <sql id="goods_msg">
        count(distinct order_id) orders,substring(add_time,1,11) `day`,
        sum(`number`) products,sum(`number`*price) amount
    </sql>
    <select id="getGoodsRows" resultType="com.j4h.mall.model.report.ReportGoods">
        select <include refid="goods_msg"/> from cskaoyan_mall_order_goods group by `day`
    </select>
</mapper>